*.iml
.gradle
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

.project
.settings
.classpath
*.log
atlassian-ide-plugin.xml
gen-external-apklibs
bin
gen
target
tmp
out
/project.properties
libraries
build

.idea/
!.idea/codeStyles/codeStyleConfig.xml
!.idea/codeStyles/Project.xml